@model ContosoUniversity.Models.Student

<tr>
        <td>
            @Html.DisplayFor(m => m.LastName)
        </td>
        <td>
            @Html.DisplayFor(m => m.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(m => m.EnrollmentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
        </td>
    </tr>