@*@model IEnumerable<ContosoUniversity.Models.Vacation>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
@model IEnumerable<ContosoUniversity.ViewModels.VacationViewModel>

@{
    ViewBag.Title = "Vacations List";
}

<h2>Vacations List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date From</th>
            <th>Date To</th>
            <th>Description</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vacation in Model)
        {
            <tr>
                <td>@vacation.DateFrom.ToShortDateString()</td>
                <td>@vacation.DateTo.ToShortDateString()</td>
                <td>@vacation.Description</td>
                <td>@vacation.UserName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = vacation.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = vacation.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = vacation.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>